## Импорт библиотек

In [11]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [19]:
data = pd.read_csv('hotel_bookings.csv')
data.shape

(119390, 32)

In [20]:
data.head(2)

          hotel  is_canceled  ...  reservation_status  reservation_status_date
0  Resort Hotel            0  ...           Check-Out               2015-07-01
1  Resort Hotel            0  ...           Check-Out               2015-07-01

[2 rows x 32 columns]

In [21]:
# дискретные переменные, которые стоит стандартизировать
cols_tost = ['lead_time', 'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children',
             'babies', 'previous_cancellations', 'previous_bookings_not_canceled',
             'booking_changes', 'days_in_waiting_list', 'adr', 'required_car_parking_spaces',
             'total_of_special_requests']

In [22]:
del data['company']
del data['agent']
data.dropna(inplace=True)
# удалим выброс
data = data[data['adr'] >= 0]

data['meal'] = data['meal'].map({'SC':0, 'BB':1, 'HB':2, 'FB':3})
data['deposit_type'] = data['deposit_type'].map({'No Deposit':0, 'Non Refund':1, 'Refundable':2})
#data['arrival_date_month'] = data['arrival_date_month'].map({'January':1, 'February':2, 'March':3,
#                                                             'April':4, 'May':5, 'June':6, 'July':7,
#                                                             'August':8, 'September':9, 'October':10,
#                                                             'November':11, 'December':12})

label_encoder = LabelEncoder()
data['reserved_room_type'] = label_encoder.fit_transform(data['reserved_room_type'])

label_encoder = LabelEncoder()
data['assigned_room_type'] = label_encoder.fit_transform(data['assigned_room_type'])

data = pd.get_dummies(data,
                      columns=['hotel', 'market_segment',
                              'distribution_channel', 'customer_type'],
                      drop_first=True)
for i in cols_tost:
    scaler = StandardScaler()
    data[i] = scaler.fit_transform(data[i].values.reshape(-1,1))

In [23]:
del data['reservation_status']
del data['reservation_status_date']
del data['arrival_date_year']
del data['arrival_date_month']
del data['country']
data = data.dropna().reset_index(drop=True)
data.shape

(117732, 35)

In [24]:
data.head(2)

   is_canceled  ...  customer_type_Transient-Party
0            0  ...                              0
1            0  ...                              0

[2 rows x 35 columns]

In [25]:
data.to_csv('bookings.csv', index=False)